<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <h>TinyApp</h>
    <br>
    <br>
    <form method="POST" action="/login">
      Username:<input type="text" name="username"><b>
      <input type="submit" value="Submit"></form>
      <%=username%>

</body>
</html>