<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <h>TinyApp</h>
    <br>
    <br>
    <% if (!locals.username)  { %>
    <form method="POST" action="/login">
      Username:<input type="text" name="username"><b>
      <input type="submit" value="Submit"></form>
    <% } else { %>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout"></form>
        <%=username%>
    <% } %>

</body>
</html>