<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>

    <% for (property in urls) { %>

      <li><%= urls[property] %> - <%= property %> -
      <button><form method="POST" action="/urls/"<%= property%>"/delete"%>>DELETE</form></li>

    <% }; %>

  </ul>

    <a href="deadlink">deadlink</a>

</body>
</html>