<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>
  <ul>

    <% for (property in urls) { %>

      <li><%= urls[property] %> - <%= property %>
      <form method="POST" action="/urls/<%=property%>/delete"><input type="submit" value="DELETE"></form></li>
        <a href="/urls/<%=property%>">Edit</a>

    <% } %>

  </ul>


</body>
</html>