<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header %>
</head>
<body>

  <p> <%= shortURL %> - <%= longURL %>

    <form method="POST" action="/urls/<%=shortURL%>">
      New URL:<input type="text" name="newURL">
      <button type="submit" value="Update">Update</form>


  </p>

</body>
</html>