<!DOCTYPE html>
<html>
<head>
<title>TinyApp</title>
</head>
<body>
  <form method="POST" action="/register">
    Email:<input type="email" name="email">
    Password:<input type="password" name="password">
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</body>
</html>